.MazeVisualization {
    border: black solid 1px;
    position: relative;
}

.MazeCell {
    border: black solid 1px;
    position: absolute;
}

.MazeCell.W {
    border-left: none;
}

.MazeCell.N {
    border-top: none;
}

.MazeCell.E {
    border-right: none;
}

.MazeCell.S {
    border-bottom: none;
}

.MazeCell.Pony {
    background-color: pink;
}

.MazeCell.Domokun {
    background-color: gray;
}

.MazeCell.End {
    background-color: green;
}

.MazeCell.Solution {
    background-color: yellow;
}